{
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleAttributePerLine": false,
  "trailingComma": "all",
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts"
}
